.table span.tds {
	font-weight: 600;
	color: #4e4e4e;
	font-size: 14px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 5px;
	border-top: 0px;
	border-bottom: 1px solid #f9f9f9;
}
.table {
	margin-bottom: 5px;
}
.all_price {
	margin-top: 15px;
    display: table;
    background: #f7ac4f;
    padding: 3px 5px;
    border-radius: 3px;
    color: #FFF;
	float: left;
}
.info {
font-size: 13px;
}
.td-name {
	width: 100px;
}
.all_body {
    padding-bottom: 10px;
}
.cat-board-body {
    height: 150px;
    background: #FFF;
    margin-top: 10px;
    margin-bottom: 10px;
    display: table;
    width: 100%;

}
.redmy {
	float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.rilght-mini-filter {
	float: left;
}
.margin-h1-cat {
	height: 10px;
}

.appliances {
    float: left;
    margin-top: 15px;
    margin-right: 5px;

    background: #38b966;
    color: #FFF;
    padding: 3px 5px;
    border-radius: 3px;
    line-height: 21px;
}

.appliances-man {
    float: left;
    margin-top: 15px;
    margin-right: 5px;
    background: #bfe26f;
    color: #FFF;
    padding: 3px 8px;
    border-radius: 3px;
    line-height: 21px;	
}

.pol {
	float: left;
    margin-top: 15px;
    background: #dedede;
    color: #353535;
    padding: 3px 9px;
    line-height: 21px;
    border-radius: 3px;
    margin-right: 5px;
}

.pol-woman {
	float: left;
    margin-top: 15px;
    background: #8c71de;
    color: #FFF;
    padding: 3px 9px;
    line-height: 21px;
    border-radius: 3px;
    margin-right: 5px;
}











/*Обновление */

.search-ajax_ot, .search-ajax_kuda {
	
  width: 95%;
    
  overflow: auto;
    
  background: #FFF;
    
  position: absolute;
    
  z-index: 1;
    
    
  box-shadow: 0 10px 13px #ccc;
    
  padding: 10px;

}

.search-ajax_ot ul, .search-ajax_kuda ul {
	
 padding: 0;
	
 margin: 0;
	
 width: 100%;
	
 list-style-type: none;

}

.search-ajax_ot ul li, .search-ajax_kuda ul li {
    cursor: pointer;
    margin-bottom: 5px;
    
    border-bottom: 1px solid #efefef;
    
    padding-bottom: 5px;

}





.span-text {

    color: #5a5a5a;

    font-size: 13px;

    float: left;

}

.span-cat {

    font-size: 12px;

    margin-left: 5px;
	
    float: right;

}
.minipunkt {
	font-weight: 600;
}

@media(max-width:720px) {

	.search-ajax_ot, .search-ajax_kuda {

	   width: 100%;
		
           margin-left: 0;
	
}
.all_img {
height: 60px;
}
.td-name {
	width: 20px;
}


.info {
    font-size: 12px;
    line-height: 15px;
    display: table;
}

.pol-woman, .appliances-man, .redmy, .pol, .appliances, .all_price {
	margin-top: 5px;
}

.verti {
	vertical-align: middle;
}
.all_body {
padding-left: 7px;
}
.all_img {
	background-size: cover;
}

}

.offline-all {
width: 12px;
    height: 12px;
    background: #ccc;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    border-radius: 15px;
}

.online-all {
    width: 12px;
    height: 12px;
    background: #bfe26e;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    border-radius: 15px;
	border: 1px solid #84ad24;
}


@media(max-width:720px) {
	.online-all, .offline-all{
		right: 5px;
        bottom: 5px;
        top: auto;
	}
	
}



