
.cover {
  background: #BBD8E4;
  padding-bottom: 32px;
}

.cover .title {
  text-align: center;
}

.cover .subtitle {
  text-align: center;
  margin-top: 8px;
}

.cover .image {
  margin-top: 24px;
  border-radius: 4px;
}

.link {
  color: #307896;
}

.page .header-turbo-icon {
  fill: rgba(0, 0, 0, 0.6);
}

.title_level_2 {
  font-weight: 100;
}
